                        /* -------------------Começo do campo de adicionar itens------------------- */
                    
                    .closetimagem{  /* Ajusta a imagem de fundo (logo)*/
                      display: block;
                     justify-content: center;
                     align-items: center;
                     height: 30vh;
                   
                   }
                   .closetimagem{
                      
                     max-width: 100%;
                     max-height: 100%;
                     margin: auto;
                   }
                   
                     /* Estilo básico para o formulário */
                   
                   form {
                       width: 30%;
                       height: px ; /* define a altura igual à largura */
                       margin: 0 auto;
                       box-sizing: border-box;
                     }
                     
                     label, input, select {
                       display: block;
                       margin-bottom: 10px;
                     }
                     
                     input[type="submit"] {
                       margin-top: 20px;
                       padding: 10px;
                       background-color: #007bff;
                       color: #fff;
                       border: none;
                       cursor: pointer;
                     }
                     
                     /* Estilo para os campos de entrada */
                     input, select {
                       width: 100%;
                       padding: 10px;
                       border: 1px solid #ccc;
                       border-radius: 4px;
                       box-sizing: border-box;
                     }
                     
                     /* Estilo para o campo de entrada de arquivo */
                     input[type="file"] {
                       padding: 5px;
                       border: none;
                       border-radius: 0;
                       background-color: #fff;
                       box-shadow: none;
                     }
                     
                     /* Estilo para as etiquetas */
                     label {
                       font-weight: bold;
                       font-size: 18px;
                       color: #333;
                     }
                     
                     /* Estilo para o botão de envio */
                     input[type="submit"]:hover {
                       background-color: #0056b3;
                     }
                     /* Estilo da borda e fundo*/
                     form {
                       background-color: #c8c7c7;
                       border: 2px solid #b8b7b7;
                       border-radius: 8px;
                       padding: 20px;
                       box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
                     
                     }
                                             /* ----------------------Fim do campo de adicionar itens----------------------------------*/